.DS_Store
xcrun_db
.python-version
.venv/
.uv-cache/
.tmp/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.pytype/
.hypothesis/
.coverage
.coverage.*
htmlcov/
site/
build/
dist/
*.egg-info/
__pycache__/
*.py[cod]
